* {
  margin: 0;
  padding: 0;
}
button {
  outline: none;
}
.calend_wrapper {
  background-color: #3c3c3c;
  color: #ffffff;
  width: 400px;
  margin: 0 auto;
  padding: 30px 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.calend_header .timer {
  font-size: 65px;
  font-weight: 100;
}
.calend_header .current_string_date {
  margin: 20px 0 30px 0;
  font-size: 20px;
  color: #3c8ac8;
}
.calend_header::after {
  content: "";
  display: block;
  border-bottom: solid 2px #494947;
}

.calend_navigation{
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
  font-size: 20px;
}
.current_month_year {
  width: 153px;
  text-align: center;
}
.calend_navigation_month, .calend_navigation_day {
  display: flex;
  justify-content: space-between;
}
.prev_month, .next_month, .prev_day, .next_day {
  width: 20px;
  height: 20px;
  margin: 0 15px;
  background-color: unset;
  border: unset;
  cursor: pointer;
}
.prev_month {
  background-image: url(img/left_month.svg);
  background-size: contain;
}
.next_month {
  background-image: url(img/right_month.svg);
  background-size: contain;
}
.prev_day {
  background-image: url(img/left_day.svg);
  background-size: contain;
}
.next_day {
  background-image: url(img/right_day.svg);
  background-size: contain;
}
.calend_table, .week_days {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.calend_table div, .week_days div{
  width: 48px;
  height: 42px;
  margin: 0 2px;
  font-size: 18px;
  text-align: center;
  line-height: 42px;
  /* border: solid 2px unset; */
}
.another_month {
  opacity: 0.5;
}
.current_day {
  background-color: #3c8ac8;
  outline: solid 2px #000000;
  outline-offset: -4px;
}
.active {
  outline: solid 2px #3c8ac8;
  outline-offset: -2px;
}

